@media only screen and (max-width: 820px) {
    .sign_in {
        width: 350px;
    }

    .sign_up {
        width: 350px;
    }

    .todo_list {
        width: 370px !important;
    }

    .todos {
        overflow: auto;
        height: 280px !important;
    }
}